.list_sp_img_150 {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
}
.sp_img_chitiet,
.sp_img_daidien {
    min-width: 150px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 10px 0;
}
div.row > div#pre_Multiple {
    height: 150px;
    max-width: 20%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    object-fit: contain;
    flex-wrap: wrap;
}
.tbl-fixed {
    overflow-x: scroll;
}
.table {
    min-width: max-content;
    text-align: center;
}

.fdaidien_container,
.fchitiet_container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-action {
    color: darkcyan;
}
.container-fluid,
.col-md-12 > .table,
.col-md-6 > .table {
    color: rgba(0, 0, 0, 0.8);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.form-group > .form-label > b {
    font-size: 17px;
}
